<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{% url 'shop:product_list' %}">
            Shop
        </a>
 
        <form method="get"
            action="{% url 'shop:product_list' %}"
            class="d-flex ms-3"
            style="max-width: 260px;">

            <input type="text"
                name="q"
                value="{{ request.GET.q }}"
                class="form-control form-control-sm"
                placeholder="Поиск...">

            <button type="submit"
                class="btn btn-sm btn-outline-primary ms-2">
        🔍
            </button>
        </form>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:product_list' %}">
                        Главная
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu:menu_list' %}">
                        Меню
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacts:contacts' %}">
                        Контакты
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                        Корзина
                        <span class="badge bg-warning text-dark">
                            {{ cart_count }}
                        </span>
                    </a>
                </li>

                {% if user.is_authenticated %}

                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'orders:user_orders' %}">
                            Мои заказы
                        </a>
                    </li>

{#                    <li class="nav-item">#}
{#                      <a class="nav-link" href="{% url 'accounts:profile' %}">#}
{#                            Профиль#}
{#                        </a>#}
{#                    </li>#}

                    <!-- 👤 Имя пользователя -->
                    <li class="nav-item me-2">
                        <a href="{% url 'accounts:profile' %}" class="btn btn-light btn-sm fw-semibold">
                            👤 {{ user.username }}
                        </a>
                    </li>

                    <li class="nav-item ms-lg-2">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light btn-sm">
                                Выйти
                            </button>
                        </form>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-sm me-2" href="{% url 'login' %}">
                            Войти
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="btn btn-warning btn-sm" href="{% url 'accounts:register' %}">
                            Регистрация
                        </a>
                    </li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>